--
-- PostgreSQL database dump
--

\restrict LMoVIITcbaYIYMuL0MYqe5ZFgZbuXsapBMBvrJUufpjo6pxE8sNy1P877ij8Xfi

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: sevid
--

CREATE TYPE public."Role" AS ENUM (
    'PATIENT',
    'CLINICIAN',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO sevid;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Device; Type: TABLE; Schema: public; Owner: sevid
--

CREATE TABLE public."Device" (
    id text NOT NULL,
    "patientId" text NOT NULL,
    name text NOT NULL,
    "bleUuid" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Device" OWNER TO sevid;

--
-- Name: Patient; Type: TABLE; Schema: public; Owner: sevid
--

CREATE TABLE public."Patient" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "clinicianId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Patient" OWNER TO sevid;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: sevid
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "patientId" text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endedAt" timestamp(3) without time zone,
    "romMaxDeg" double precision,
    notes text,
    "durationSecs" integer,
    "exerciseId" text,
    "phaseLabel" text,
    "sessionType" text
);


ALTER TABLE public."Session" OWNER TO sevid;

--
-- Name: User; Type: TABLE; Schema: public; Owner: sevid
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role public."Role" DEFAULT 'PATIENT'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO sevid;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: sevid
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO sevid;

--
-- Data for Name: Device; Type: TABLE DATA; Schema: public; Owner: sevid
--

COPY public."Device" (id, "patientId", name, "bleUuid", "createdAt") FROM stdin;
\.


--
-- Data for Name: Patient; Type: TABLE DATA; Schema: public; Owner: sevid
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: sevid
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: sevid
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: sevid
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
3027ed2e-ab5b-4d99-8d4e-2ae3128995d4	4f00ec5459c63f04f71dc075b8f966721facf5e8962327b71d38b33caed81498	2025-11-15 04:55:50.967035+00	20251111005822_init	\N	\N	2025-11-15 04:55:50.88366+00	1
dedad27e-a502-4bad-8d9b-0191102a0e5e	b6784d0ff1321df16973c994ff5fac29f9f5cbdf4c41de2e87d8c45a50cb4b72	2025-11-17 20:59:11.117193+00	20251117205911_add_session_context_fields	\N	\N	2025-11-17 20:59:11.101998+00	1
\.


--
-- Name: Device Device_pkey; Type: CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_pkey" PRIMARY KEY (id);


--
-- Name: Patient Patient_pkey; Type: CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."Patient"
    ADD CONSTRAINT "Patient_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Device_bleUuid_key; Type: INDEX; Schema: public; Owner: sevid
--

CREATE UNIQUE INDEX "Device_bleUuid_key" ON public."Device" USING btree ("bleUuid");


--
-- Name: Patient_userId_key; Type: INDEX; Schema: public; Owner: sevid
--

CREATE UNIQUE INDEX "Patient_userId_key" ON public."Patient" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: sevid
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Device Device_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."Patient"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Patient Patient_clinicianId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."Patient"
    ADD CONSTRAINT "Patient_clinicianId_fkey" FOREIGN KEY ("clinicianId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Patient Patient_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."Patient"
    ADD CONSTRAINT "Patient_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Session Session_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sevid
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."Patient"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict LMoVIITcbaYIYMuL0MYqe5ZFgZbuXsapBMBvrJUufpjo6pxE8sNy1P877ij8Xfi

